<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yatrashare"
    android:installLocation="preferExternal">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the userLogin's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".YatraApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAZxOqokBM3G-2KEyHuUaJMhVV75ZYncEo" />

        <activity
            android:name=".activities.RideFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SubRidesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UserBookingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.MessageDetailTheme" />
        <activity
            android:name=".activities.OfferRideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterVehicleActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.SelectCountryActivity" />

        <provider
            android:name=".utils.PlacesSuggestionProvider"
            android:authorities="com.yatrashare.places.search_suggestion_provider"
            android:syncable="false" />

        <activity
            android:name=".activities.UploadLicenceActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".AsyncTask.FetchMyProfile"
            android:exported="false" />

        <activity
            android:name=".activities.EditRideActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>